<md-dialog>
  <md-dialog-content id="login-screen" layout="column">
    <h3 id="login-title">Login In</h3>
    <p>
      We only use this information to verify that you are who
      you say your are. We will not request any permissions
      that allow use to access any information about your account.
    </p>
    <md-button class="md-raised md-primary" ng-click="google()">
      <md-icon md-font-icon="fa-google-plus" class="fa s24 fa-lg"></md-icon>
      Google
    </md-button>
    <md-button class="md-raised md-primary" ng-click="facebook()">
      <md-icon md-font-icon="fa-facebook" class="fa s24 fa-lg"></md-icon>
      Facebook
    </md-button>
    <md-button class="md-raised md-primary" ng-click="twitter()">
      <md-icon md-font-icon="fa-twitter" class="fa s24 fa-lg"></md-icon>
      Twitter
    </md-button>
  </md-dialog-content>
</md-dialog>