.f-toolbar {
    width: 100%;
    position: absolute;
    float: right;
}

#login-title {
    padding-top: 2em;
    text-align: center;
}

#username {
    font-size: medium;
    font-weight: 100;
}

#login-screen p {
    width: 20%;
}