<div class="f-toolbar">
  <md-fab-toolbar md-open="isOpen" md-direction="right">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="fa-align-justify" class="fa s24 fa-lg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <h1>Fallout 4 Map</h1>
        <span flex="20"></span>
        <md-button ng-click="openLogin()" aria-label="Sign In" ng-if="$root.currentUser == null">
          Sign In
        </md-button>
        <md-button ng-click="logout()" aria-label="Logout" ng-if="$root.currentUser != null">
          Logout
        </md-button>
        <md-button aria-label="About" href="/about">
          About
        </md-button>
        <md-button aria-label="Help" ng-click="help()">
          Help
        </md-button>
        <p ng-if="$root.currentUser != null">Welcome Back!
          <!-- <span id="username">{{$root.currentUser.profile.name}}</span> -->
        </p>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
</div>