<toolbar></toolbar>
<md-content class="main" layout="row">
  <div id="map" flex></div>
  <md-sidenav class="md-sidenav-right"
              md-is-locked-open="$mdMedia('max-width: 100000px')"
              md-component-id="newPointSideNav">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Selected Location</h1>
    </md-toolbar>
    <md-content layout-padding ng-if="point != null">
      <div ng-if="point.isNew">
        <md-input-container>
          <label>Title</label>
          <input class="f-control" ng-model="point.data.title" ng-disabled="!point || !point.data || !point.isNew">
        </md-input-container>
        <md-input-container>
          <label>Type</label>
          <input class="f-control" ng-model="point.data.type" ng-disabled="!point || !point.data || !point.isNew">
        </md-input-container>
        <md-input-container>
          <label>Description</label>
          <input class="f-control" ng-model="point.data.description"
                 ng-disabled="!point || !point.data || !point.isNew">
        </md-input-container>
      </div>
      <div class="f-sidepoint" ng-if="!point.isNew">
        <dl>
          <dt>Name</dt>
          <dd>{{point.data.title}}</dd>
          <dt>Type</dt>
          <dd>{{point.data.type}}</dd>
          <dt>Description</dt>
          <dd>{{point.data.description}}</dd>
        </dl>
      </div>
      <md-content layout="row">
        <md-button ng-if="point.isNew" aria-label="save" ng-click="save()" ng-disabled="$root.currentUser == null">
          Save
        </md-button>
        <md-button ng-if="point.isNew" aria-label="cancel" ng-click="cancel()">Cancel</md-button>
      </md-content>
      <md-content layout="row">
        <md-button ng-click="like()" aria-label="like"
                   ng-disabled="!point || !point.data || point.isNew || point.liked">
          <i class="fa fa-thumbs-o-up fa-3x"
             ng-class="{'fa-thumbs-o-up': !point.liked, 'fa-thumbs-up': point.liked}"></i>
        </md-button>
        <md-button ng-click="spam()" ng-disabled="!point || !point.data || point.isNew">Report Spam</md-button>
      </md-content>
      <!--<md-button ng-click="close()" ng-disabled="!point || !point.data || !point.isNew">Close</md-button>-->
    </md-content>
  </md-sidenav>
</md-content>