.main {
    height: 100%;
}

#map {
    background-color: #1D1D1D;
}

div > .leaflet-marker-icon {
    cursor: pointer;
}

.f-control {
    color: black;
}

.f-sidepoint dt {
    padding-top: 1em;
    font-weight: bold;
}