<h2>About</h2>
<p>
  This application lets users annotate the Fallout 4 map with their own discoveries.
  I always got tired of maps that were never upto date. Now with your help we can create
  the most complete Fallout 4 map.
</p>
<h2>Contact</h2>
<p>
  <p>
  This is still a work in progress.
  If you would like to contribute please contact me.
  I need help with the art in particular.<br>
  I may put this on Github soon if there is any interest.
  </p>
  <i class="fa fa-at fa-lg fa-fw"></i>Email: <a href="mailto:fallout4map@gmail.com">fallout4map@gmail.com</a><br>
  <i class="fa fa-reddit fa-lg fa-fw"></i>Reddit: <a href="https://www.reddit.com/user/red_hook/">/u/red_hook</a>
</p>
<p>
  Libraries used:
  <ul>
    <li>Meteor.js</li>
    <li>Leaflet.js</li>
    <li>Angular.js</li>
    <li>Angular Material</li>
    <li><a href="https://github.com/GitHubRGI/geopackage-python">GitHubRGI/geopackage-python</a></li>
  </ul>
</p>
<p>
  All data from Fallout 4 <i class="fa fa-copyright"></i> are property of Betheda Software, INC and
  used because they are awesome and not because I want to make money.
</p>